{
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "sort-keys": "error",
    "no-duplicate-imports": "error",
    "import/order": ["error", {
      "newlines-between": "always"
    }],
    "object-curly-spacing": ["error", "always"],
    "space-infix-ops": "error",
    "no-console": "warn",
    "valid-jsdoc": "error"
  }
}